/*
===========================================================
Reset
===========================================================
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
============================================================
Layout
============================================================
*/


#main_page{
	margin-left: 30px;
	box-shadow: -2px 0 6px #eee;
}

#wrapper{
	width: 1150px;
	margin: auto;	
}


/*
=========================================================
NavBar
=========================================================
*/

#fixed_site_header{
	border-bottom: 1px solid #ccc;
	background-color: white;
	position: fixed;
	width: 100%; height: 52px;
	top:0;
	box-shadow: -6px 0 6px #eee;
}

.nav_button{
	display: inline-block;
}

#sections_btn{
	float: left;
	margin-top: 10px;
	margin-left: -15px;
	background-color: white;
	border-radius: 5px;
	font-size: 8pt;
}

#logo{
	margin: 15px 0 0 380px;
}

#login_btn{
	float: right;
	margin-right: 40px;
}

.buttons{
	display: inline-block;
	height: 30px;
	text-align: center;
}

#sections{
	width: 110px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 2px 4px #eee;
}

.span_buttons > img{
	float: left;
	width: 20px;
	margin-top: 5px;
	margin-left: 10px;
	padding: 0;
	display: inline-block;
}

#times_logo_home_button{
	width: 15px;
	margin-right: 10px;
}

#nav_button_list > li{
	margin-right: 10px;
}

#login_button{
	margin: 8px;
	background-color: #6288a5;
	height: 30px; width: 57px;
	color: white;
	border: 1px solid #999;
	border-radius: 3px;
	text-align: center;
}

#user_settings > li{
	display: inline-block;
}

#settings_wheel_icon{
}

/*
=========================================================
Related Articles
=========================================================
*/
.thumbnail_image{
	float: left;
	padding: 10px;
}

#related_article_text_wrapper{
	margin-top: 20px;
	margin-right: 20px;
}

.related_article_list_wrapper{	
	list-style-type: none;
	width: 16%;
	height: 95px;
	margin-top: 50px;
	display: inline-block;
	border-right: 1px solid #ccc;
	float: left;
}

#related_articles{
	box-shadow: 0 0 8px #ccc;
	height: 145px;
}

#related_article_text_wrapper{
	width: 240px;
}

/*
=========================================================
Links
=========================================================
*/

a{
	text-decoration: none;

}

/*
=========================================================
Typography
=========================================================
*/

.related_article_text{
	letter-spacing: .6px;
	color: #222;
	font-size: 11pt;
}

.span_buttons{
	font-size: 8pt;
	line-height: 30px;
	text-transform: uppercase;
	font-family: arial;
	font-weight: 900;
	color: #444;
}

.span_login_button{
	color: white;
	font-size: 8pt;
	line-height: 30px;
	text-transform: uppercase;
	font-family: arial;
	font-weight: 900;
}

#comment_text{
	font-size: 10pt;
	line-height: 30px;
	text-transform: uppercase;
	font-family: arial;
	font-weight: 400;
	color: #777;
}

#headline_text{
	font-style: italic;
	font-size: 27pt;
	font-weight: 800;
}

#author_text{
	font-weight: 700;
	font-size: 10pt;
	letter-spacing: 0.1px;
	margin-right: 10px;
	font-family: arial;
}

#date{
	font-weight: 300;
	font-size: 8.5pt;
	letter-spacing: 0px;
	font-family: arial;
}

.image_description{
	font-size: 12pt;
	color: #666;
}

.image_credit{
	font-size: 10pt;
	color: #444;
}

.main_text{
	font-size: 15pt;
	color: #222;
}

.social_media_text{
	font-family: arial;
	color: #666;
	font-size: 10pt;
}

#graphic_title{
	font-size: 16pt;
	font-weight: 800;
	color: #333;
}

.graphic_panel_text{
	font-family: arial;
	font-size: 14px;
	line-height: 17px;
}

#grahic_title_description{
	color: #666;
}

.graphic_credit{
	font-size: 11px;
	color: #666;
}

#in_article_header{
	font-style: bold;
}

.print{
	color: #666;
	font-size: 12px;
	font-family: arial;
}
/*
====================================================
Main Article
====================================================
*/

#subject_area{
	padding: 30px 0 20px 0;
	font-size: 10pt;
	line-height: 30px;
	text-transform: uppercase;
	font-family: "nyt-franklin", arial;
	font-weight: 800;
}

.embedded_video{
	margin: 50px;
}

#comment_number{
	float: right;
	display: inline-block;
	border: none;
	background-color: transparent;
}

#main_image{
	width: 100%;
}

.image_accompanying_text_wrapper{
	width: 700px;
	margin-bottom: 50px;
	clear: both;
}

.line_break{
	width:100%; height: 1px;
	background-color: #DDD;
	margin: 20px 0 10px 0;
}

#author_date{
	margin-bottom: 30px;
}

.main_article_text{
	width: 600px;
	display: inline-block;
}

.second_article_text{
	margin-left: 50px;
	width:600px;
}

#bottom_line_break{
	background-color: black;
	margin: 50px 0 20px 0;
	height: 1px;
	width: 60px;
}

/*
==============================================================================
Social Media
==============================================================================
*/

.social_media_links{
	float: left;
}
.social_media_button{
	height: 30px; width: 100px;
	border-bottom: 1px solid #ccc;
	margin: 5px 50px 5px 0;
	padding-bottom: 5px;
}

.social_media_button:hover{
	background-color: #e1e1e1;
	}

.social_media_button:img{
}

/*
=============================================================================
Graphic
=============================================================================
*/

#graphic_wrapper{
	width: 945px;
	margin: auto;
}

#inflation_graphic{
	width: 945px;
	display: block;
	position:absolute;
}

.graphic_text_panel_top{
	position: relative;
	width: 228px;
	margin-top: 140px;
	display: inline-block;
	vertical-align: top;
}

.graphic_text_panel_bottom{
	position: relative;
	width: 228px;
	margin-top: 150px;
	display: inline-block;
	vertical-align: top;
}

#graphic_title_wrapper{
	margin-top: 20px;
	margin-bottom: 10px;
}

/*
====================================================================
Footer
====================================================================
*/

#left_column_footer{
	width: 65%;
	padding-top: 10px;
	border-top: 1px solid #ccc;
	margin-right: 40px;
	vertical-align: top;
	display: inline-block;
}


#right_column_footer{
	width: 300px;
	border-top: 1px solid #ccc;
	vertical-align: top;
	display: inline-block;
}

#article_footer{
	width: 75%;
	margin: 100px auto;
}

.m_r_a_t_text{
	font-size: 20px;
	font-weight: 700;
	font-family: arial;
	letter-spacing: -1.5px;
	display: inline-block;
	float: left;
}

#most_emailed_header{
	margin-top: 10px;
}

#most_emailed_header_text{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 900;
	font-family: arial;
	
}

.m_r_a_t_links{
	display: inline-block;
	float: right;
	font-size: 11px;
	font-family: arial;
	line-height: 25px;
	color: darkblue;
}

.more_related_articles_all{
	width: 31%;
	margin-top: 40px;
	margin-right: 15px;
	display: inline-block;
}


.more_related_articles_all > img{
	margin: 10px 0;
	width: 100%;
	float: left;
}

.m_r_a_toprow_text{
	font-size: 17px;
}

#m_r_a_wrapper{
	width: 100%;
	display: inline-block;
}

.most_emailed_wrapper{
	background-image: url("img/most_email_list.png");
	height: 475px; width: 310px;
	background-repeat: no-repeat;
}

#recommended_for_you{
	margin-top: 30px;
	border-top: 1px solid #ccc;
	padding-top: 10px;
	float: left;
}

.recommended_wrapper{
	width: 100%;
	display: inline-block;
}

#more_related_articles_wrapper{
	margin-bottom: 200px;
}

#nyt_links_logo{
	display: inline-block;
	float:left;
	clear: both;
}

#nyt_links_home_link{
	display: inline-block;
	float: right;
	vertical-align: top
}

#nyt_links_wrapper{
	border-top: 2px solid #bbb;

	display: inline-block;
}

#nyt_links_header{
	padding: 10px;
	margin:1px;
	border-top: 1px solid #bbb;
	width: 100%;
}

.nyt_links_body_col{
	margin-top: 50px;
	font-family: arial;
	line-height: 29px;
	width: 190px;
	display: inline-block;
	vertical-align: top;
}

.column_header{
	font-weight: 700;
	color: #333;
}

#nyt_links_body{
	display: inline-block;
	width: 100%;	
	border-bottom: 2px solid #bbb;
}

#links_col_6{
	border-left: 1px solid #ccc;
	padding-left: 20px;
	width: 210px;
}

.subscription{
	font-weight: 800;
	line-height: 35px
}

#column_6_second_list{
	font-size: 12px;
	line-height: 20px;
	margin: 15px 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

#column_6_third_list{
	font-size: 12px;
	line-height: 20px;
	margin: 15px 10px;
	padding-bottom: 10px;
}

#copyright{
	padding-top: 10px;
}

#last_bit{
	color: #666;
	font-size: 12px;
	font-family: arial;
	float: right;
}